{% extends "layouts/base.html" %}

{% block title %}Guardians{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}{% block content %}


	<div class="content">
		<div class="page-inner">

			<div class="page-header">
				<h4 class="page-title">Guardians</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Tables</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Datatables</a>
					</li>
				</ul>
			</div>

			<div class="row ">
				<div class="col-md-12">

					<div class="card">

						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Register</h4>

								<button class="btn btn-success btn-round ml-auto new" data-toggle="modal">
									<i class="fa fa-plus"></i>
									 New Guardian
								</button>
							</div>
						</div>


						<div class="card-body">
							<!--  Table Starts Here   -->
							<div class="table-responsive-sm">
								<table id="add-row" class="display table table-striped table-hover table-responsive-sm " >
									<thead>
										<tr>
											<th>S/N</th>
											<th>Reg. Date</th>
											<th>Names</th>
											<th>Gender</th>
											<th>Mobile No</th>
											<th>Active Wards</th>
											<th>Tot Wards</th>
											<th>Tot Bal.</th>
											<th style="width: 10%" class="border-gray-200">Action</th>
										</tr>
									</thead>

									<tbody>
										{% for guardian in guardians %}
											<tr height="25px">
												<td>{{ forloop.counter }}</td>
												<td>{{guardian.created_on|date:'d/m/Y'}}</td>
												<td>{{guardian.surname}}, {{guardian.other_names}}</td>
												<td>{{guardian.gender}}</td>
												<td>{{guardian.mobile_no1}} {{guardian.mobile_no2}}</td>
												<td>1</td>
												<td>3</td>
												<td>N12,000.00</td>

												<td class="">
													<div class="btn-group form-button-action">
													  <button class="btn btn-secondary btn-sm dropdown-toggle btn-border btn-round" type="button" data-toggle="dropdown" aria-expanded="false">
														<b class="">..  ..  ..</b>
													  </button>
													  <div class="dropdown-menu">
														  <a class="dropdown-item" href="#">Continue-> Registration</a>

														  <div class="dropdown-divider"></div>
														  <a class="dropdown-item" href="{% url 'guardian' gad_id=guardian.pk reg_id=0 %}">Update Student</a>
														  <a class="dropdown-item delete"  href="{% url 'delete' gad_id=guardian.pk %}">Delete</a>
													  </div>
													</div>
												</td>
											</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


     {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Successfull . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Information . . . ')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Warning . . . ')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}', 'Error . . . ')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

	<script>


		$('.new').click(function(e){
			location.href ='/guardians/new';
		});

		$('.delete').click(function(e){
			var self = $(this);
			console.log(self.data('title'));
			e.preventDefault();

			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				buttons:{
					confirm: {
						text : 'Yes, delete it!',
						className : 'btn btn-success'
					},
					cancel: {
						visible: true,
						className: 'btn btn-danger'
					}
				}
			}).then((Delete) => {
				if (Delete) {
					location.href = self.attr('href');

				} else {
					swal({
						title: 'Aborted!',
						text: 'The record is retained.',
						type: 'success',
						buttons : {
							confirm: {
								className : 'btn btn-info'
							}
						}
					});
					swal.close();
				}

			});
		});
	</script>

	<script type="text/javascript"  >

		$(document).ready(function() {

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 25,
			});

		});

	</script>

{% endblock javascripts %}
