{% extends "layouts/base.html" %}

{% block title %} Guardian Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style class="">
    .file {
      visibility: hidden;
      position: absolute;
    }
    </style>
{% endblock stylesheets %}

{% load static %}

{% block content %}

	<div class="content">
        <div class="page-inner">



            <form action="" class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row col-md-3 d-none" >
                    <label for="gad_id">Guardian ID</label>
                    <input type="text" class="form-control form-control-sm" id="gad_id" name="gad_id" value="{{guardian.pk}}">
			    </div>

                <div class="container" >
                    <div class="card" >
                        <div class="card-body">
                            <div class="row ">
                                <!-- Column for Student Name and Address Controls  -->
                                <div class="col col-sm-7">
                                    <!--
                                    <h5 class="">Assign an Existing Guardian from Here:</h5>
                                    <div class="">
                                        <label for="guardians" class="">Guardian Here:</label>
                                        <select class="form-control input-border-bottom" id="guardians" name="guardians" style="font-weight:bold;" >
                                            <option value=""></option>
                                            {% for gad in gad_list %}
                                                <option value="{{gad.id}}">{{gad.surname}} {{gad.other_names}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
    -->
                                <div class="float-left">
                                    <h4 class=""><strong>Student Parent / Guardian</strong></h4><p>
                                    <div class="row">
                                        <div class="avatar avatar-lg ml-4">
                                            {% if student.stud_pic %}
                                                <img src="{{student.stud_pic.url}}" alt="..." class="avatar-img rounded-circle">
                                            {% else %}
                                                <img src="/static/assets/img/default.png" alt="..." class="avatar-img rounded-circle">
                                            {% endif %}
                                        </div>

                                        <div class="col-md-7 form-floating-label">
                                            <input id="stud_names" type="text" style="font-weight:bold; font-size: 17px;" value="{{student.surname}}, {{student.first_name}} {{student.middle_name}}"
                                                   class="form-control input-border-bottom pb-0" name="studentnames" required>
                                            <label for="stud_names" class="placeholder">Student Names</label>
                                        </div>

                                        <div class="col-md-2 form-floating-label" hidden >
                                            <input type="text" class="form-control input-border-bottom pb-1" id="reg_id" name="reg_id" value="{{student.pk}}"  required>
                                            <label for="reg_id" class="placeholder">Stud ID</label>
                                        </div>
                                        {% if student.reg_no %}
                                        <div class="col-md-3 form-floating-label">
                                            <input id="regno" type="text" value="{{student.reg_no}}" class="form-control input-border-bottom" name="reg_no" >
                                            <label for="regno" class="placeholder">Registration No:</label>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-check pt-0 pl-lg-5 ml-4 pb-0">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="True" id="not-together" name="not_with_guard">
                                            <span class="form-check-sign">Student is not living with Guardian</span>
                                        </label>
                                    </div>

                                    <div class="row student-address ml-lg-5 pl-lg-5 "  >
                                        <!-- Student Residential Address  -->
                                        <div class="col-4">
                                            <div class="form-group form-floating-label pt-1 mt-1">
                                                <input id="res_addr_l1" type="text" value="{{student.res_addr_l1|default_if_none:''}}" name="res_addr_l1" class="form-control input-border-bottom pb-2" >
                                                <label for="res_addr" class="placeholder pb-0 mb-0">Student Residential Addr:</label>
                                            </div>
                                        </div>
                                        <!-- Student Residentials Area -->
                                        <div class="col-3">
                                            <div class="form-group form-floating-label pt-1 mt-1">
                                                <input id="res_addr_l2" type="text" value="{{student.res_addr_l2|default_if_none:''}}" name="res_addr_l2" class="form-control input-border-bottom pb-2">
                                                <label for="res_area" class="placeholder pb-0 mb-0">Residential Area:</label>
                                            </div>
                                        </div>


                                        <!-- student Residence City -->
                                        <div class="col-3 ">
                                            <div class="form-group form-floating-label pb-0 mb-0">
                                                <select class="form-control input-border-bottom pb-1" id="res_city" name="stud_res_city" >
                                                    <option value="{{student.res_city|default_if_none:''}}" hidden>{{student.res_city|default_if_none:''}}</option>
                                                    <option>Port Harcourt</option>
                                                    <option>Ahoada</option>
                                                    <option>Emoha</option>
                                                </select>
                                                <label for="city" class="placeholder pb-0 mb-0">City Residence:</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                                <!-- Column to Select Guardian for Student control -->
                                <div class="col col-sm-5 ">
                                    <!-- student Guardian Selection -->
                                     <br>
                                    <span class="font-italic">
                                    For new Guardian fill the Guardian Details. <br>
                                    Select existing Guardian from the Drop-Down. <p>
                                    </span>
                                    <div class="col-10 ">
                                        <div class="form-group form-floating-label pb-0 mb-0">
                                            <select class="form-control input-border-bottom pb-1" id="stud_guardian" name="stud_guardian" >
                                                <option value=""></option>
                                                {% for gad in gad_list %}
                                                    <option value="{{gad.id}}">{{gad.surname}} {{gad.other_names}}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="stud_guardian" class="placeholder pb-0 mb-0">Select Parent / Guardian:</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col col-md-10">
                            <div class="card">

                                <div class="card-header pt-1 pb-1 ">
                                    <div class="card-title card-success "><h4>Guardian Details </h4>
                                        <div class="text-small float-md-right ">{% if student.reg_status|lower != 'enrolled' %} NEW {% endif %} Registration Form-2</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Column Rows Left Justification  -->
                                    <div class="row d-flex justify-content-left text-left">
                                        <div class="col-2 ">
                                            <div class="form-group form-floating-label">
                                                <select class="form-control input-border-bottom" id="title" name="title" >
                                                    <option value="{{guardian.title}}" hidden>{{guardian.title}}</option>
                                                    <option></option>
                                                    <option>Mr</option>
                                                    <option>Mrs</option>
                                                    <option>Chief</option>
                                                </select>
                                                <label for="title" class="placeholder">Title:</label>
                                            </div>
                                        </div>

                                        <div class="col-3 ">
                                            <div class="form-group form-floating-label">
                                                <input  id="surname" type="text" value="{{guardian.surname}}" class="form-control input-border-bottom" name="surname" required>
                                                <label for="surname" class="placeholder">* Surname</label>
                                            </div>
                                        </div>

                                        <div class="col-5">
                                            <div class="form-group form-floating-label">
                                                <input id="other_names" type="text" value="{{guardian.other_names}}" name="other_names" class="form-control input-border-bottom" required>
                                                <label for="other_names" class="placeholder">* Other Names</label>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group form-floating-label">
                                                <input id="relationship" type="text" value="{{guardian.relationship}}" class="form-control input-border-bottom" name="relationship" required>
                                                <label for="relationship" class="placeholder">* Relationship</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex justify-content-left text-left">
                                        <div class="col-2 ">
                                           <div class="form-group form-floating-label">
                                            <select id="gender" name="gender" class="form-control input-border-bottom"  required>
                                                <option value="{{guardian.gender}}" hidden>{{guardian.gender}}</option>
                                                <option>Male</option>
                                                <option>Female</option>

                                            </select>
                                            <label for="gender" class="placeholder">* Gender</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group form-floating-label">
                                                <input type="tel" id="phone1" value="{{guardian.mobile_no1}}" class="form-control input-border-bottom" name="mobile_no1"  pattern="[0-9]{11}" required >
                                                <label for="phone1" class="placeholder">* Mobile No:</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group form-floating-label">
                                                <input type="tel" id="phone2" value="{{student.mobile_no2}}" class="form-control input-border-bottom" name="mobile_no2"  pattern="[0-9]{11}" >
                                                <label for="phone2" class="placeholder">Phone No:</label>
                                            </div>
                                        </div>

                                        <div class="col-4 ">
                                            <div class="form-group form-floating-label">
                                                <input id="email" value="{{guardian.email}}" name="email" type="text" class="form-control input-border-bottom" >
                                                <label for="email" class="placeholder">Email</label>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row d-flex justify-content-left text-left">

                                        <div class="col-5">
                                            <div class="form-group form-floating-label">
                                                <input id="res_addr" type="text" value="{{guardian.res_addr}}" name="res_addr" class="form-control input-border-bottom">
                                                <label for="res_addr" class="placeholder">Residential Addr:</label>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group form-floating-label">
                                                <input id="res_area" type="text" value="{{guardian.res_area}}" name="res_area" class="form-control input-border-bottom">
                                                <label for="res_area" class="placeholder">Residential Area:</label>
                                            </div>
                                        </div>

                                        <!-- Guardian Residence City  -->
                                        <div class="col-2 ">
                                            <div class="form-group form-floating-label">
                                                <select class="form-control input-border-bottom" id="city" name="res_city" >
                                                    <option value="{{guardian.res_city}}" hidden>{{guardian.res_city}}</option>
                                                    <option>Port Harcourt</option>
                                                    <option>Ahoada</option>
                                                    <option>Emoha</option>
                                                </select>
                                                <label for="city" class="placeholder">City Residence:</label>
                                            </div>
                                        </div>

                                        <div class="col-2 ">
                                            <div class="form-group form-floating-label">
                                                <select class="form-control input-border-bottom" id="state"  name="res_state">
                                                <option value="{{guardian.res_state}}" hidden>{{guardian.res_state}}</option>
                                                <option>Rivers</option>
                                                <option>Bayelsa</option>
                                                <option>Kwara</option>
                                                <option>Niger</option>
                                                <option>Adamawa</option>
                                                <option>Yola</option>
                                                <option>Kogi</option>
                                                <option>Plateau</option>
                                                </select>
                                                <label for="state" class="placeholder">State Residence</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="card-action pt-3 pb-2">
                                     <div class="row d-flex justify-content-center text-center">
                                         <div class="col-4 ">
                                             {% if student.reg_status|lower == 'pending' %}
                                                <button class="btn btn-outline-warning btn-rounded btn-sm"  type="reset" >Clear or Reset</button>
                                             {% endif %}
                                         </div>
                                         <div class="col-4 ">
                                            <button class="btn btn-outline-success btn-rounded btn-sm"  type="submit" name="save_pause" value="save&pause" formaction="/guardians/new" >
                                                {% if student.reg_status|lower == 'enrolled' %}
                                                    U P D A T E
                                                {% else %}
                                                    S A V E
                                                {% endif %}
                                            </button>
                                         </div>

                                          <div class="col-4 ">
                                              {% if student.reg_status|lower != 'enrolled' %}
                                                <button class="btn btn-outline-success btn-rounded btn-sm" type="submit" name="save_continue" value="save&continue" formaction="/guardians/new" >
                                                    S A V E  &  Continue
                                                </button>
                                              {% endif %}
                                          </div>

                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

     {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr["success"]('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}', 'Information . . . ')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}', 'Warning . . . ')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}', 'Error . . . ')</script>
            {% endif %}
        {% endfor %}
    {% endif %}


	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>  <!-- Script that controlls the settings by the right side -->

    <script>

     $(document).ready(function(){
         if (!$('#not-together').is(':checked')) {  //If the CheckBox is NOT Checked
             $(".student-address").hide()
         }

         if ($('#res_addr_l1').val() != ''){  // check if the first Student Address has value
             $('#not-together').prop('checked', true);  // Check the CheckBox
             $(".student-address").show()  //  Show inputs for Student Address
         }

         $('#not-together').click(function(e) {         // When the Check box is Click
             if ($('#not-together').is(':checked')) {   //If the CheckBox is Checked
                 $(".student-address").show()  //  Show inputs for Student Address
                 $('#res_addr_l1').attr('required', true);
                 $('#res_addr_l1').focus()

             } else {
                 $(".student-address").hide()   //  Hide inputes for Student Address
                 $('#res_addr_l1').attr('required', false);
                 // alert('Student is living with Guardian?')
             }
		});
     });


    </script>

{% endblock javascripts %}