{% extends "layouts/base.html" %}

{% block title %} Student Form {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style class="">
    .file {
      visibility: hidden;
      position: absolute;
    }
    </style>
{% endblock stylesheets %}

{% load static %}

{% block content %}

	<div class="content">
        <div class="page-inner">

            <div class="page-header">
				<h4 class="page-title">Student</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="list">Students</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Biodata</a>
					</li>
				</ul>
			</div>

            <form action="" class="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row col-md-3 d-none" >
                    <label for="reg_id">Reg ID</label>
                    <input type="text" class="form-control form-control-sm" id="reg_id" name="reg_id" value="{{student.pk}}">
			    </div>

                <div class="row">
                    <div class="col col-sm-3 " style="padding-top: 45px;">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title"></div>
                                <input type="file" name="stud_pic" class="file" accept="image/*" >
                                <div class="input-group my-2">
                                  <input type="text" class="form-control form-control-sm text-small" disabled placeholder="Picture" id="file" >
                                  <div class="input-group-append">
                                    <button type="button" class="browse btn btn-primary form-control-sm btn-sm">Browse...</button>
                                  </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center text-center">
                                    {% if student.stud_pic %}
                                        <img id="preview1" class="h-50 w-50 img-fluid rounded-circle img-thumbnail" src="{{ student.stud_pic.url }}" alt="Upload Picture">
                                     {% else %}
                                        <img id="preview" class="h-50 w-50 img-fluid rounded-circle img-thumbnail" src="/media/images/static/default.png" alt="Upload Picture">

                                    {% endif %}
                                </div>
                            </div>
                            <!--
                            <div class="card-action">

                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Personal Biodata <div class="text-small float-md-right ">
                                    ({% if student.reg_status == None %} New {% else %} {{student.reg_status|capfirst}} {% endif %}  Registration: Form-1 )</div>
                                </div>
                                <input type="text" class="no-bd" id="sch_id" name="school" value="{{sch_id}}" placeholder="School ID" hidden  required>
                                <input type="text" class="float-xl-right" id="reg_status" name="reg_status" value="{{student.reg_status}}"  >
                            </div>

                            <div class="card-body">
                                <!-- Column Rows Left Justification  -->
                                <div class="row d-flex justify-content-left text-left">
                                    <div class="col-4 ">

                                        <div class="form-group form-floating-label">
                                            <input id="surname" type="text" value="{{student.surname}}" class="form-control input-border-bottom" name="surname" required>
                                            <label for="surname" class="placeholder">Surname</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group form-floating-label">
                                            <input id="firstname" type="text" value="{{student.first_name}}" class="form-control input-border-bottom" name="first_name" required>
                                            <label for="firstname" class="placeholder">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group form-floating-label">
                                            <input id="othername" type="text" value="{{student.middle_name}}" name="middle_name" class="form-control input-border-bottom">
                                            <label for="othername" class="placeholder">Other Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-left text-left">
                                    <div class="col-4 ">
                                       <div class="form-group form-floating-label">
										<select id="gender" name="gender" class="form-control input-border-bottom"  required>
											<option value="{{student.gender}}" hidden>{{student.gender}}</option>
											<option>Male</option>
											<option>Female</option>

										</select>
										<label for="gender" class="placeholder">Gender</label>
									    </div>
                                    </div>
                                     <div class="col-4">
                                         <!-- Date of Birt -->
                                         <div class="form-group form-floating-label">
                                             <input  type="date" id="dob" class="form-control input-border-bottom" name="dob"  value="{{student.dob|date:'Y-m-d'}}" required>
                                             <label for="dob" class="placeholder">Birth Date</label>
                                         </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group form-floating-label">
                                            <input type="tel" id="phone" value="{{student.phone_no}}" class="form-control input-border-bottom" name="phoneno"  pattern="[0-9]{11}" >
                                            <label for="phone" class="placeholder">Mobile No:</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="row d-flex justify-content-left text-left">
                                    <div class="col-5 ">
                                        <div class="form-group form-floating-label">
                                            <input id="email" value="{{student.email}}" name="email" type="text" class="form-control input-border-bottom" >
                                            <label for="email" class="placeholder">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-3 ">
                                        <div class="form-group form-floating-label">
                                            <select class="form-control input-border-bottom" id="bloodgroup" name="bloodgroup" >
											<option value="{{student.bloodgroup}}" hidden>{{student.bloodgroup}}</option>
											<option>A+</option>
											<option>O+</option>
                                            <option>B+</option>
											<option>AB+</option>
											<option>A-</option>
                                            <option>O-</option>
											<option>B-</option>
                                            <option>AB-</option>
										</select>
										<label for="bloodgroup" class="placeholder">Blood Group</label>
                                        </div>
                                    </div>
                                    <div class="col-4 ">
                                        <div class="form-group form-floating-label">
                                            <select class="form-control input-border-bottom" id="religion" name="religion" >
											<option value="{{student.religion}}" hidden>{{student.religion}}</option>
											<option>Christianity</option>
											<option>Islam</option>

										</select>
										<label for="religion" class="placeholder">Religion</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row d-flex justify-content-left text-left">
                                    <div class="col-5 ">
                                        <div class="form-group form-floating-label">
                                            <select class="form-control input-border-bottom" id="nationality"  name="nationality">
											<option value="{{student.nationality}}" selected hidden >{{student.nationality}}</option>
											<option>Nigeria</option>
											<option>Ghana</option>
                                            <option>Togo</option>
											<option>Cameron</option>
                                            <option>Liberia</option>
                                            <option>Lome</option>
										    </select>
										    <label for="nationality" class="placeholder">Nationality</label>
                                        </div>

                                    </div>
                                    <div class="col-3 ">
                                        <div class="form-group form-floating-label">
                                            <select class="form-control input-border-bottom" id="state"  name="state">
											<option value="{{student.state_origin}}" hidden>{{student.state_origin}}</option>
											<option>Rivers</option>
											<option>Bayelsa</option>
                                            <option>Kwara</option>
											<option>Niger</option>
											<option>Adamawa</option>
                                            <option>Yola</option>
											<option>Kogi</option>
                                            <option>Plateau</option>
										    </select>
										    <label for="state" class="placeholder">State Origin</label>
                                        </div>
                                    </div>
                                    <div class="col-4 ">
                                        <div class="form-group form-floating-label">
                                            <select class="form-control input-border-bottom" id="lga" name="lga" >
                                                <option value="{{student.lga_origin}}" hidden>{{student.lga_origin}}</option>
                                                <option>Port Harcourt</option>
                                                <option>Ahoada</option>
                                                <option>Emoha</option>
										    </select>
										    <label for="lga" class="placeholder">Local Govt. Origin</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-action">
                                 <div class="row d-flex justify-content-center text-center">
                                     <div class="col-4 ">
                                         {% if student.reg_status == None %}
                                         <button class="btn btn-outline-warning btn-xs btn-rounded"  type="reset" >Clear or Reset</button>
                                         {% endif %}
                                     </div>

                                     <div class="col-4 ">
                                        <button class="btn btn-outline-success btn-sm btn-round"  type="submit" name="save_pause" value="save&pause" formaction="/students/new_registration" >
                                            {% if student.reg_status|lower == 'enrolled' %}
                                                UPDATE
                                            {% else %}
                                                SAVE
                                            {% endif %}
                                        </button>
                                     </div>
                                      <div class="col-4 ">
                                          {% if student.reg_status|lower == 'pending' or student.reg_status is None %}
                                         <button class="btn btn-outline-success  btn-sm btn-round  " type="submit" name="save_continue" value="save&continue" formaction="/students/new_registration" >
                                                SAVE & CONTINUE . . .
                                         </button>
                                          {% endif %}
                                      </div>
                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>  <!-- Script that controlls the settings by the right side -->

    <script>
    $(document).on("click", ".browse", function()
        {var file = $(this).parents().find(".file");
        file.trigger("click");
    });
    $('input[type="file"]').change(function(e)
        {var fileName = e.target.files[0].name;
        $("#file").val(fileName);
        var reader = new FileReader();
        reader.onload = function(e) {
        // get loaded data and render thumbnail.
        document.getElementById("preview").src = e.target.result;
        };
      // read the image file as a data URL.
      reader.readAsDataURL(this.files[0]);
    });

    </script>

{% endblock javascripts %}