{% extends "layouts/base.html" %}

{% block title %}Employees{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style class="">
    .exportExcel{
      padding: 5px;
      border: 1px solid grey;
      margin: 5px;
      cursor: pointer;
    }

</style>

<link rel="stylesheet" href="../../static/assets/sweetalert/msgstyle.css">

{% endblock stylesheets %}

{% block content %}
    <div class="content">
		<div class="page-inner border">

			<div class="page-header border ">
                <h4 class="page-title">Employees</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Tables</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Datatables</a>
					</li>
				</ul>
            </div>

            <div class="row ">
				<div class="col-md-12">

					<div class="card border">
                        <div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Staff List</h4>

								<button class="btn btn-outline-info btn-round  ml-auto new-employee" data-toggle="modal">
									<i class="fa fa-plus"></i>
									 New Employee
								</button>
							</div>
						</div>

                        <div class="card-body">
							<!-- Table Starts Here   -->
							<div class="table-responsive-sm">
                                <table id="staff-list" class=" display table table-responsive-sm table-hover">
                                    <thead>
                                        <tr class="text-secondary text-md-left">
                                            <!-- <th>S/n</th> -->
                                            <th class="text-nowrap">Staff ID</th>
                                            <th class="text-nowrap">Staff Names <br> <span class="text-small">Position</span></th>
                                            <th>Sex <br><span class="text-small">Marital</span> </th>
                                            <th>Age</th>
                                            <!-- <th>Marital Status</th> -->
                                            <th class="text">Phone No <br> <span class="text-small">Email</span></th>
                                            <!-- <th>Department </th> -->

                                            <th class="text">Status <br><span class="text-small text-nowrap">Years Hired</span></th>
                                            <th class="" hidden></th>
                                            <th style="width: 10%" class="border-gray-200">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody class="">
                                        {% for emp in employees %}
                                          <tr class="row-sel m-0 p-0 ">
                                              <!-- <td>{{forloop.counter}}</td> -->
                                              <td class="staff-id text "><span class="small"> {{emp.staff_no}} </span> </td>
                                              <td><span class="staff-name text text-md-left font-weight-bold small ">
                                                  {{emp.surname}} {{emp.other_names}} </span>
                                                  {% if emp.group %}
                                                    <br> <span class="text-small text-secondary">{{emp.group.name|default_if_none:''}}</span>
                                                  {% endif %} </td>
                                              <td>{{emp.gender|first}}
                                                  {% if emp.marital_status %} <br> <span class="text-small text-primary">{{emp.marital_status|default_if_none:''}}</span>  {% endif %}</td>
                                              <td>{{emp.age}}</td>
                                              <!-- <td>{{emp.marital_status|default_if_none:''}}</td> -->
                                              <td><span class="small"> {{emp.mobile_no1}}
                                                  {% if emp.mobile_no2 %} <br> {{emp.mobile_no2}} {% endif %} </span>
                                                  {% if emp.email_addr %} <br> <span class="small"> {{emp.email_addr}} </span>  {% endif %} </td>
                                              <!-- <td><span class="small"> {{emp.department.name|default_if_none:'Not Assigned'}} </span> </td> -->

                                              <td class="small text-center">{{emp.status}}
                                                   {% if emp.years_worked %} <br><span class="text-small text-secondary"> {{emp.years_worked}} </span> {% endif %}
                                              </td>
                                              <td class="emp-id" hidden>{{emp.id}}</td>

                                              <td class="">
                                                  <div class="btn-group form-button-action">
													  <button class="btn btn-secondary btn-sm dropdown-toggle btn-border btn-round" type="button" data-toggle="dropdown" aria-expanded="false">
														<b class="">..  ..  ..</b>
													  </button>
													  <div class="dropdown-menu">
														  <a class="dropdown-item" href="#">Employee Profile</a>

														  <div class="dropdown-divider"></div>
														  <a class="dropdown-item" href="/employees/update-entry/{{emp.id}}">Update Employee</a>
														  <a class="dropdown-item delete"  href="">Delete </a>
													  </div>
                                                  </div>
                                              </td>

                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.success('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script class="">
        $(document).ready(function() {

            let table = $('#staff-list').DataTable({
                "pageLength": 25,

              });

            $('.new-employee').click(function(){
                location.href=("{% url 'new-employee' %}")
            });

        });
    </script>

{% endblock javascripts %}