{% extends "layouts/base.html" %}

{% block title %}Employees{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style class="">
    .exportExcel{
      padding: 5px;
      border: 1px solid grey;
      margin: 5px;
      cursor: pointer;
    }

</style>

<link rel="stylesheet" href="../../static/assets/sweetalert/msgstyle.css">

{% endblock stylesheets %}

{% block content %}
    <div class="content">
		<div class="page-inner border">

			<div class="page-header border ">
                <h4 class="page-title">Employees</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Tables</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Datatables</a>
					</li>
				</ul>
            </div>

            <div class="row ">
				<div class="col-md-12">

					<div class="card border">
                        <div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Staff List</h4>

								<button class="btn btn-outline-info btn-round  ml-auto new-employee" data-toggle="modal">
									<i class="fa fa-plus"></i>
									 New Employee
								</button>
							</div>
						</div>

                        <div class="card-body">
							<!-- Table Starts Here   -->
							<div class="table-responsive-sm">
                                <table id="staff-list" class=" display table table-responsive-sm table-hover">
                                    <thead>
                                        <tr class="text-secondary text-md-left">
                                            <!-- <th>S/n</th> -->
                                            <th>Staff ID</th>
                                            <th class="">Staff Names <br> <span class="text-small">Position</span></th>
                                            <th>Sex <br><span class="text-small">Marital</span> </th>
                                            <th>Age</th>
                                            <!-- <th>Marital Status</th> -->
                                            <th class="text">Phone No <br> <span class="text-small">Email</span></th>
                                            <th>Department </th>
                                            <th>Years Hired</th>

                                            <th class="">Status</th>
                                            <th class="" hidden></th>
                                        </tr>
                                    </thead>

                                    <tbody class="">
                                        {% for emp in employees %}
                                          <tr class="row-sel m-0 p-0 ">
                                              <!-- <td>{{forloop.counter}}</td> -->
                                              <td class="staff-id text "><span class="small"> {{emp.staff_no}} </span> </td>
                                              <td><span class="staff-name text text-md-left   font-weight-bold small ">
                                                  {{emp.surname}} {{emp.other_names}} </span>
                                                  {% if emp.group %}
                                                    <br> <span class="text-small text-secondary">{{emp.group.name|default_if_none:''}}</span>
                                                  {% endif %} </td>
                                              <td>{{emp.gender|first}}
                                                  {% if emp.marital_status %} <br> <span class="text-small text-primary">{{emp.marital_status|default_if_none:''}}</span>  {% endif %}</td>
                                              <td>{{emp.age}}</td>
                                              <!-- <td>{{emp.marital_status|default_if_none:''}}</td> -->
                                              <td><span class="small"> {{emp.mobile_no1}}
                                                  {% if emp.mobile_no2 %} <br> {{emp.mobile_no2}} {% endif %} </span>
                                                  {% if emp.email_addr %} <br> <span class="small"> {{emp.email_addr}} </span>  {% endif %} </td>
                                              <td><span class="small"> {{emp.department.name|default_if_none:'Not Assigned'}} </span> </td>
                                              <td>{{emp.years_worked|default_if_none:''}}</td>

                                              <td class="text-small">{{emp.status}}</td>
                                              <td class="emp-id" hidden>{{emp.id}}</td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.success('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script class="">
        $(document).ready(function() {

            let table = $('#staff-list').DataTable({
                "pageLength": 25,

                dom: 'Bfrtip',
                buttons: [
                    {
                      extend: 'excel',
                      text: 'Export excel',
                      className: 'exportExcel',
                      filename: 'Export excel',
                      exportOptions: {
                        modifier: {
                          page: 'all'
                        }
                      }
                    },
                    {
                      extend: 'copy',
                      text: '<u>C</u>opie presse papier',
                      className: 'exportExcel',
                      key: {
                        key: 'c',
                        altKey: true
                      }
                    },
                    {
                      text: 'Alert Js',
                      className: 'exportExcel',
                      action: function(e, dt, node, config) {
                        alert('Activated!');
                        // console.log(table);

                        // new $.fn.dataTable.Buttons(table, {
                        //   buttons: [{
                        //     text: 'gfdsgfsd',
                        //     action: function(e, dt, node, config) {
                        //       alert('ok!');
                        //     }
                        //   }]
                        // });
                      }
                    }
                ]
              });

            $("tbody tr").click(function () {
                // alert('The Row is Clicked')
                  let currentRow=$(this).closest("tr");

                    let staff_id = currentRow.find("td:eq(1)").text(); // get current row 1st TD value
                    let staff_name = currentRow.find(".staff-name").html(); // get current row cell TD value for staff-name
                    let emp_id = currentRow.find(".emp-id").html(); // get current row cell TD value for staff-name
                    let msg = "What would you like to do with \n the selected Staff record?"

                  swal({
                      title: staff_name,
                      text: msg,
                      buttons: {
                          eidt: {
                            text : 'Edit Staff Profile!',
                            className : 'btn btn-outline-success btn-rounded btn-full btn-sm'
                        },
                        cancel: {
                            visible: true,
                            text : 'Do nothing !',
                            className: 'btn btn-outline-danger btn-rounded btn-sm'
                        }
                      }
                  }).then((action) => {
                    if (action) {
                        // location.href = self.attr('href');
                        location.href="/employees/update-entry/" + emp_id

                    } else {
                        swal({
                            icon: 'error', timer: 1200,
                            buttons : {
                                 visible: false,
                            }
                        });
                    }
                });
              });

            $('.new-employee').click(function(){
                location.href=("{% url 'new-employee' %}")
            });

        });
    </script>

{% endblock javascripts %}