{% extends "layouts/base.html" %}

{% block title %}Payment Receipt{% endblock title %}

{% block stylesheets %}
<style class="">
    .swal-title {
      margin: 0px;
      font-size: 23px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
      margin-bottom: 28px;
        text-align: -moz-center;
    }

.swal-text {
      background-color: rgb(255, 255, 255);
      padding: 17px;
      border: 1px solid rgba(240, 225, 161, 0.94);
      display: block;
      margin: 22px;
      text-align: center;
      color: #61534e;
      font-size: 17px;
    }

.swal-footer {
      background-color: rgb(245, 248, 250);
      margin-top: 32px;
      border-top: 4px solid #E9EEF1;
      overflow: hidden;
    }

</style>

{% endblock stylesheets %}

{% load humanize %}
{% block content %}

    <div class="content">
        <div class="page-inner">

            <div class="row ">
                <div class="col-lg-5 pb-0 ">
                    <h3 class="font-weight-bold "  >Payment Receipt</h3>
                </div>
                <div class="col-3  pr-0 pb-xl-2 ">
                    <!--  Close button at the TOP Right Corner. Closes the form to Enrollment List -->
                    <button id="close" class=" btn  btn-outline-primary  btn-rounded btn-xs float-lg-right alert-primary "  type="button" >X</button>
                </div>
            </div>
            <div class="container justify-content-start  ">

                <div class="row ">

                    <div class="col col-sm-5 shadow border-bottom ">

                        <div class="card shadow border mb-5 mt-4 ">
                            <div class="card-header mb-0 pb-1">
                                <div class=" text-sm-center"> <span class="pb-2 text-small font-weight-bold float-right">Receipt No: {{fees.first.receipt_no}}</span> <span></span> </div>
                                <div><span class="text-small">Date:</span> <span class="text-small font-weight-normal">{{fees.first.pmt_date}} </span> </div>
                                <div><span class="text-small">Name:</span>
                                    <span class=" fw-extrabold">{{fees.first.student.surname}} {{fees.first.student.first_name}} {{fees.first.student.middle_name}}</span>
                                    {% if fees %}
                                    </span> <span class=" text-small ">({{fees.first.classroom.class_abr}}{{fees.first.classroom.arm}}) </span>
                                    {% endif %}
                                </div>
                                <div class="float-right"><span class="text-small">Due Fees:</span> <span class="text-small font-weight-bold text-danger">{{fees.last.runing.balance|floatformat:2|intcomma}}</span> </div>
                                <div class="">
                                        <span class="text-small">Total Amount Received: </span>
                                        <span class="text-right text-small pr-1 font-weight-bold text-success">{{total_amt_paid|floatformat:2|intcomma}}</span>
                                </div>
                                <div class="text-small ">
                                        <span class=" text-secondary pr-1 ">Method:</span><span class="">{{fees.first.pay_method.pay_method}}</span>
                                    </div>
                            </div>

                            <div class="card-body pt-1">
                                <div class="border-bottom text-left pt-1"> <span class="text-small font-italic ">Payment Details:</span>  </div>

                                <div class="table-responsive table-light table-sm ">
                                    <table class="text-small ">
                                    <thead>
                                        <tr class="text-center text-secondary ">
                                            <th >Description</th>
                                            <th>Invoice Amount</th>
                                            <th>Discount</th>
                                            <th>Fee Paid</th>
                                            <th>Balance.</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        {% for fee in fees %}
                                        <tr>
                                            <td class="border ">{{fee.pmt_descx}}</td>
                                            <td class="border text-right">{{fee.invoice.amount|floatformat:2|intcomma}}</td>
                                            <td class="border text-right">{{fee.invoice.discount|floatformat:2|intcomma}}</td>
                                            <td class="border text-right">{{fee.amt_paid|floatformat:2|intcomma}}</td>
                                            <td class="border text-right">{{fee.runing.balance|floatformat:2|intcomma}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                    <div class="text-small text-center pt-2 pl-4 border">
                                        <span class="text-secondary pl-lg-5">Previous Fees paid:</span>
                                        <span class="pl-lg-4">{{previous.fees_paid|floatformat:2|intcomma}}</span>
                                    </div>

                                    {% if wallet_credited %}
                                    <div class="col-7 border pt-1 float-right"> <span class="text-small  ">Wallet Credited: {{wallet_credited|floatformat:2|intcomma}}</span></div>
                                    {% endif %}


                                </div>
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>

                    <div class="col col-sm-3 shadow border-right border-bottom  align-content-sm-center   ">

                        <form action="" class="" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if fees %}
                            <div class="row pl-3 pb-2 border-bottom">
                                <span class="text-info text-small ">Transaction ID: {{fees.first.school_id}}\{{fees.first.transaction_id}}</span>
                            </div>

                            <div><span class="small pl-2"> PDF Receipt Options</span></div>

                            <p>
                            <div class="row pl-lg-4">
                                <span class="small">  The student receipt is ready. You can
                                    <a href="/financials/print-receipt/{{fees.first.school_id}}/{{fees.first.receipt_no}}?btn_print='receipt-{{fees.first.receipt_no}}'"
                                       type="submit" class=""
                                       value="ngs-receipt-{{fees.first.receipt_no}}">Send To Printer
                                    </a> directly.
                                </span>
                            </div>

                            <p>
                            <div class="row pl-lg-4">
                                <span class="small">  You may want to
                                    <a href="/financials/print-receipt/{{fees.first.school_id}}/{{fees.first.receipt_no}}?btn_preview='ngs-receipt-{{fees.first.receipt_no}}'"
                                       type="submit" class="">Preview and Print
                                    </a> it.
                                </span>
                            </div>

                            <p>
                             <div class="row pl-lg-4 small ">
                                <span class="pr-1">Send to parent by <a href="/financials/mail-and-print/{{fees.first.student_id}}">Mailing and Print</a>
                                     at once.</span>
                            </div>

                             <p>
                             <div class="row pl-lg-4 small ">
                                <span class="pr-1">You can just  <a href="/financials/mail-and-print/{{fees.first.student_id}}">Mail Receipt</a>
                                    to Parent or Student .</span>
                            </div>

                            <p>

                            <div class="row pl-lg-4">
                                <span class="small">  If you made a mistake you can
                                    <a href="/financials/cancel-transaction/{{fees.first.school_id}}/{{fees.first.transaction_id}}"
                                       type="submit" class="" id="btn_cancel"
                                       value="ngs-receipt-{{fees.first.receipt_no}}">Cancel this Transaction
                                    </a> .
                                </span>
                            </div>
                            <p>
                            <div class="row pl-lg-4 small ">
                                <span class="pr-1">You can <a href="/financials/student-payment/{{fees.first.student_id}}">Receive Payment</a>
                                    again for this student.</span>
                            </div>

                            {% endif %}

                        </form>
                    </div>

                    <div class="col align-content-center ">
                        <div class="card shadow border mb-5 mt-4 ">
                            <div class="card-header mb-0 pb-1">
                                <div class=" small pl-4">Previous Payments:</div>
                            </div>

                            <div class="table-responsive table-hover table-sm pl-4 ">
                             <table class="text-small border ">
                                    <thead>
                                        <tr class="text-center text-secondary ">
                                            <th >Trans Date</th>
                                            <th>Receipt No</th>
                                            <th>Amt Paid</th>
                                            <th>Runing Bal</th>
                                        </tr>
                                    </thead>
                                    <tbody class="">
                                        {% for pmt in pmts %}
                                        <tr>
                                            <td class="border ">{{pmt.pmt_date|date:'d-m-Y'}}</td>
                                            <td class="border text-right">{{pmt.receipt_no}}</td>
                                            <td class="border text-right">{{pmt.amt_paid|floatformat:2|intcomma}}</td>
                                            <td class="border text-right">{{pmt.runing.balance|floatformat:2|intcomma}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                             </table>
                         </div>

                            <div class="card-footer">
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr["success"]('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}', 'Information . . . ')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script class="" type="text/javascript">
        $(document).ready(function() {

            // It redirect to the URL when the close button at the TOP Right corner is clicked
             $("#close").click(function(){
                 location.href='/financials/student-enrolled-list'
             });


            $('#btn_cancel').click(function(e) {
                e.preventDefault();

                let url = $(this).attr('href');
                let title = 'Confirm! . . ';
                let msg = "Are you very sure you want to cancel this transaction?"

                confirm_cancellation(title, msg, url);
            });

            function confirm_cancellation(title, msg, url)
			{
				swal({
				title: title,
				text: msg,
				type: 'warning',
				buttons:{
					confirm: {
						text : 'YES, Confirmed!',
						className : 'btn btn-success'
					},
					cancel: {
						text: 'NO, Stop!',
						visible: true,
						className: 'btn btn-danger'
					}
				}
				}).then((confirmed) => {
					if (confirmed) {
                        // form.submit();
                        location.href = url

					} else {
						swal.close();
					}
				});
			};


        });

    </script>

{% endblock javascripts %}