
{% extends "layouts/base.html" %}

{% block title %} Student Payment {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}
{% load humanize %}

{% block content %}
<div class="content">
    <div class="page-inner">

        <div class="page-header">
            <h3 class="font-weight-bold" >{{header}}</h3>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="list">Students</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="/financials/enrollment-list">Students Enrolled:-List and Make Payment</a>
                </li>
            </ul>
        </div>

        <form action="" class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="container d-flex justify-content-center">
                <div class="col col-md-10 ">
                    <div class="card">

                        <div class="card-header">

                            <div class="row float-sm-right " >
                                <div class="col-sm-4 form-group" >
                                    <input type="text" class="form-control no-bd" id="reg_id" name="student" value="{{enrolled.student.pk}}" hidden required>
                                </div>
                                <input type="text" class="no-bd" id="enrolled_id" name="enrolled" value="{{enrolled.id}}" hidden required>
                                <input type="text" class="no-bd" id="sch_id" name="school" value="{{timeline.sch_id}}" hidden required>

                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <h5 class=""><strong>Student Payment Entry: </strong><br>
                                    Session: &ensp; <span class="pr-5">  {{timeline.descx}}</span>  </h5>
                                </div>
                                <div class="col-2">
                                    <!--  Close button at the TOP Right Corner. Closes the form to Enrollment List -->
                                    <button id="close" class=" btn  btn-outline-dark  btn-rounded btn-sm float-lg-right alert-dark "  type="button" >X</button>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="avatar avatar-lg">
                                    {% if enrolled.student.stud_pic %}
                                        <img src="{{enrolled.student.stud_pic.url}}" alt="..." class="avatar-img rounded-circle">
                                    {% else %}
                                        <img src="/static/assets/img/default.png" alt="..." class="avatar-img rounded-circle">
                                    {% endif %}
                                </div>

                                <div class=" col-md-5 form-floating-label ">
                                    <div class="">
                                    <input id="studnames" type="text" name="studentnames" value="{{enrolled.student.surname}} {{enrolled.student.first_name}} {{enrolled.student.middle_name}}" class="form-control no-bd" style="font-weight:bold; font-size: 18px;"  required>
                                    <label for="studnames" class="placeholder pl-3">Student Making Payment</label>
                                    </div>
                                    <div class="pl-3">
                                        Wallet Bal: <input id="wallet_bal" type="text" class="no-bd pl-2"  value="{{student.wallet_bal|floatformat:2|intcomma}}" readonly>
                                    </div>
                                </div>

                                <div class="col-md-3  " style="width:auto">
                                    <span class="gen-id ">Registration No:</span>
                                    <div class="row">
                                        <div class="col-md-12 form-group w_90 pl-3  p-0 m-0">
                                            <input id="reg_no" name="reg_no" value="{{enrolled.reg_no}}" readonly type="text" class="no-bd  pt-0 mt-0" style="font-weight:bold;" required>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3 ">
                                    <div class="form-floating-label">

                                        <select class="no-bd form-control input-border-bottom" id="class_id" name="classroom" style="font-weight:bold;" required >
                                            <option selected hidden value="{{enrolled.classroom.id}}">{{enrolled.classroom.class_abr}} - {{enrolled.classroom.arm}}</option>

                                        </select>
                                        <label for="class_id" class="placeholder pl-1">Batch:</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card-body">

                        <div class="">

                            <div class="row d-flex justify-content-center "  >

                                <div class="col-md-3 font-weight-bold text-left">
                                    <span class="pl-2 ">Due Amount</span>
                                      <div class="row">
                                          <div class="col-md-12 pl-4">
                                              <input  name="due_amount" id="due_amount" value="{{enrolled.tot_amt.due|floatformat:2|intcomma}}" tabindex="10" type="text" readonly class="no-bd"  >
                                          </div>
                                      </div>
                                </div>


                                <div class="col-md-3 font-weight-bold text-left ">
                                    <div class="form-floating-label">

                                        <select class="no-bd form-control input-border-bottom" id="pay_method" name="pay_method" style="font-weight:bold;" required >
                                            <option></option>
                                            {% for pm in paymethods %}
                                                <option value="{{pm.id}}">{{pm.pay_method}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="pay_method" class="placeholder pl-0">* Payment Method:</label>
                                    </div>
                                </div>

                                <div class="col-md-3 font-weight-bold text-left">
                                    <span class="pl-2 ">Instrument No</span>
                                      <div class="row">
                                          <div class="col-md-12 pl-4">
                                              <input name="instrument_no" id="instr_no" value="" tabindex="10" type="text" class="form-control form-control-sm  no-bd" placeholder=""  >
                                          </div>
                                      </div>
                                </div>

                                <div class="col-xs-4">
                                 <!-- Date of Payment -->
                                     <div class="form-group form-floating-label">
                                         <input  type="date" id="trans_date" class="no-bd form-control" name="pmt_date" required >
                                         <label for="trans_date" class="placeholder pl-3">* Date</label>
                                     </div>
                                </div>


                            </div>
                            <hr class=" mb-2">
                            <!--<span class="text-small fw-extrabold font-italic">Auto Invoice </span> <p> -->
                            <div class="row ">

                                <div class="col-md-6 font-weight-bold text-left">
                                    <span class="label pl-2">Payment Description:</span>
                                      <div class="row">
                                          <div class="col-md-12 pl-4">
                                              <input  name="pmt_descx" id="descx" value="{{descx}}" tabindex="10" type="text" class="form-control form-control-sm" placeholder="Payment - 1st Term 2022 Tuition Fee" required >
                                          </div>
                                      </div>
                                </div>

                                <div class="col-md-3 font-weight-bold text-left">
                                    <span class="pl-1 ">* Amount Paying</span>
                                      <div class="row">
                                          <div class="col-md-12 pl-4 text-right ">
                                              <input  name="amt_paid" id="amount_paying" value="{{inv.amount}}" tabindex="10" type="text"  class="form-control form-control-sm  " placeholder="" required >
                                          </div>
                                      </div>
                                </div>


                                <div class="col-md-3 font-weight-bold text-left ">
                                    <div class="form-floating-label">

                                        <select class="no-bd form-control input-border-bottom" id="bank" name="bank" style="font-weight:bold;" required >
                                            <option></option>
                                            {% for pt in banks %}
                                                <option value="{{pt.id}}">{{pt.bank_name}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="bank" class="placeholder pl-0">* Pay into:</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                        <div class="card-footer card-transparent pt-3">
                            <div class="row d-flex justify-content-center text-center">
                                 <div class="col-2 ">
                                    <!-- <button class="btn btn-outline-dark btn-round btn-sm"  type="submit" name="save_and_add" value="save&add" formaction="/financials/update-enrollment/{{enrolled.pk}}/{{inv.invoice_no}}" >Save and Add Another</button> -->
                                 </div>
                                 <div class="col-5 ">
                                     <!-- <button class="btn btn-outline-dark btn-round btn-sm" type="submit" name="save_and_list" value="save&list" formaction="/financials/update-enrollment/{{enrolled.pk}}/{{inv.invoice_no}}" >Finish and List Enrollment</button> -->
                                     <button class="btn btn-outline-success btn-round btn-sm" id="save"  type="submit" name="save" value="paid" formaction="/financials/student-payment/{{enrolled.student_id}}" >Pay NOW</button>
                                 </div>
                                  <div class="col-2 "></div>
                             </div>
                        </div>

                    </div>
                </div>

            </div>

        </form>

    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.success('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script type="text/javascript">

		$(document).ready(function() {

            document.getElementById('trans_date').value = moment().format('YYYY-MM-DD');

            // Function that format number from the input to the specified country format
            // It uses the JQueryNumberFormat plugin that was downloaded and placed in
            // the static/assets/js/plugin/number-format folder
            $("#amount_paying").blur(function(){
                $(this).parseNumber({format:"#,###.00", locale:"us"});
                $(this).formatNumber({format:"#,###.00", locale:"us"})
                //var number = $(this).val()
                //number = $.formatNumber(number, {format:"#,###.00", locale:"us"});
                //$(this).val(number);
            });

            // It redirect the URL when the close button at the TOP Right corner is clicked
             $("#close").click(function(){
                 location.href='/financials/student-enrolled-list'
             });

            $('#save').click(function(e){
                e.preventDefault();

                let form = $(this).closest('form');
                //let url  = '/financials/student-payment/{{enrolled.pk}}';

                // Get values from Inputs text-box and selected controls
                let pmtd = $("#pay_method option:selected").text(); //Get the selected text from pay_method dropdown
                let instr_no = $("#instr_no").val();  // Get the Document No from instr_no object text box
                let studname = $("#studnames").val();  // Get the Student Name from studnames object text box
                let classid = $("#class_id option:selected").text(); //Get the select class text from class_id dropdown
                let amtpaid = $("#amount_paying").val();  // Get the Amount Paid from amount object text box
                let bank = $("#bank option:selected").text(); //Get the selected text from bank dropdown
                let pmt_date = $("#trans_date").val();  // Get the Payment Date from trans_date object text box
                let descx = $("#descx").val();  // Get the Payment Description from pmt_descx object text box


                if(instr_no != ""){
                    instr_no = ' ( ' + instr_no + " ) ";
                };

                let title = 'Payment Confirmation! . . ';
                let msg = "Receiving: \n" + pmtd + " Payment " + instr_no +
                    "\n For: \n    " + studname + " (" + classid + ") " + " \n Amount Paying: N" + amtpaid + " \n      Paid To:  " + bank;

                if(pmtd == "" | amtpaid == "" | bank == "" | pmt_date == "" | descx == ""){
                    required_alert(pmtd, amtpaid, bank, pmt_date, descx)
                } else {
                    payment_confirmation_alert(title, msg, form);
                };
            });


			function payment_confirmation_alert(title, msg, form)
			{
				swal({
				title: title,
				text: msg,
				type: 'warning',
				buttons:{
					confirm: {
						text : 'YES, Confirmed!',
						className : 'btn btn-success'
					},
					cancel: {
						text: 'NO, Stop!',
						visible: true,
						className: 'btn btn-danger'
					}

				}
				}).then((go) => {
					if (go) {
                        form.submit();

					} else {
						swal.close();
					}
				});
			};

			function required_alert(pay_method, amt_paid, bank, pmt_date, descx) {
                let msg = "You have to enter the following required field(s):";
                if(pay_method == ""){msg = msg + '\n >>   ---- Payment Method ----'};
                if(pmt_date == ""){msg = msg + '\n >>   ---- Payment Date ----'};
                if(descx == ""){msg = msg + '\n >>   ---- Payment Description ----'};
                if(amt_paid == ""){msg = msg + '\n >>   ---- Amount Paying ----'};
                if(bank == ""){msg = msg + '\n >>   ---- Bank Entry ----'};
                if(msg != ""){msg = msg + '\n\n Please fill required fields and Continue.'};

                show_sweet_msg('WAIT oo !!', msg)

            };

             $('#pay_method').change(function(){

                let pay_id = $(this).val();
                let pay_method = $( "#pay_method option:selected" ).text();
                let pay_into = $( "#bank option:selected" ).text();

                if (pay_method === 'Student Wallet'){
                    let acct_bal = $('#wallet_bal').val()

                    acct_bal = $.parseNumber(acct_bal, {format:"#,###.00", locale:"us"});
                    if(acct_bal <= 0){
                        msg = 'You can NOT Receive Payment from Student Wallet: \n Balance is not sufficient'
                        show_sweet_msg('Payment Info', msg)

                        $("#pay_method").val('0').change();
                    } else {
                        if (pay_method === pay_into) {
                           alert('Payment To: \n It can not be ' + pay_into)
                           $("#bank").val('0').change();
                        }
                        alert('You can go ahead to Receive Payment')
                    }
                }
            });

            $('#bank').change(function(){
                let pay_method = $( "#pay_method option:selected" ).text();
                let pay_into = $( "#bank option:selected" ).text();
                let descx = ""

                if (pay_method === pay_into) {
                    $("#bank").val('0').change();
                    msg = 'You can NOT receive payment from ' + pay_method +
                        '\n and Pay into Student Wallet. '
                    show_sweet_msg('Wrong Selection', msg)

                } else if (pay_into === 'Student Wallet'){
                    let pay_meth = $("#pay_method option:selected").text()
                    descx = 'Deposit - ' + pay_meth + ': ( Credit Student Wallet  )'
                    $('#descx').val(descx)

                } else {
                    $('#descx').val("{{descx}}")

                    let amt_paying = $('#amount_paying').val()
                    let due_amt = $('#due_amount').val()
                    let msg = ''

                    amt_paying = $.parseNumber(amt_paying, {format:"#,###.00", locale:"us"});
                    due_amt = $.parseNumber(due_amt, {format:"#,###.00", locale:"us"});

                    if (amt_paying > due_amt && due_amt > 0){
                        // Info the user
                        let balance = amt_paying - due_amt
                        balance = $.formatNumber(balance, {format:"#,###.00", locale:"us"});
                        due_amt = $.formatNumber(due_amt, {format:"#,###.00", locale:"us"});

                        msg = 'The Amount being Paid is more than the Due Amount for this Student.' +
                            'The excess of ' + balance + ' shall be Credited to the Student Wallet.'
                        show_sweet_msg('Payment Info', msg)
                    } else if (amt_paying > due_amt && due_amt == 0 && msg===''){
                        msg = 'The student is not owing.\n Pay the money into the student Wallet'
                        show_sweet_msg('Student Info', msg)
                        // $("#bank").val('5').change();
                    }
                }

            });

            function show_sweet_msg(title, msg_text, type='info', btn_text='OK, Understood') {
                swal({
				title: title,
				text: msg_text,

				buttons:{
					confirm: {
						text : btn_text,
						className : 'btn btn-success'
					}
				}
				})
            }

		});
	</script>

{% endblock javascripts %}