
{% extends "layouts/base.html" %}

{% block title %} Academic Timeline {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style class="">
    td:first-child {text-align:center;}
    td:nth-child(3) {text-align:center;}
    td:nth-child(4) {text-align:center;}
    td:nth-child(5) {text-align:left;}
    td:last-child {text-align:center;}
</style>

    <link rel="stylesheet" href="../../../static/assets/sweetalert/msgstyle.css">

{% endblock stylesheets %}

{% block content %}
    <div class="content">
        <div class="page-inner">

            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="card border">
                        <div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Academic Timeline List</h4>
							</div>
						</div>

                        <div class="card-body" style="margin:0px; padding:0px">
                            <div class="table-responsive">
                                <table id="example" class="table table-hover m-0" >
                                <thead >
                                    <tr class="text-secondary text-sm-center">
                                        <th style="width:1%">Order</th>
                                        <th style="width:30%">Academic Year</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th class="icon-book-open" > Edit</th>
                                    </tr>
                                </thead>
                                <tbody class="table-bordered-bd-info border-top-0">
                                    {% for tl in timelines %}
                                        <tr class="text-small text-sm-center text-info">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{tl.descx}}</td>
                                            <td>{{tl.st_dt|date:'d-m-Y'}}</td>
                                            <td>{{tl.ed_dt|date:'d-m-Y'}}</td>
                                            <td>{{tl.status|capfirst}}</td>
                                            <td>
                                            {% if tl.status == "active" %}
                                                <a class="icon-pencil edit" href="{% url 'academic-timeline' %}"></a>
                                            {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                              <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Row information</h4>
                                  </div>
                                  <div class="modal-body">

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.success('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}', 'Info . . . ')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}', 'Warning . . . ')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		$(document).ready(function() {

            $('.edit').click(function(e){
			    var self = $(this);
			    console.log(self.data('title'));
			    e.preventDefault();

                swal({
                    title: 'Edit Academic Timeline?',
                    text: "Do you want to go ahead",
                    type: 'information',
                    buttons:{
                        confirm: {
                            text : 'YES, Continue!',
                            className : 'btn btn-outline-success btn-rounded'
                        },
                        cancel: {
                            text : 'NO, Cancel!',
                            visible: true,
                            className: 'btn btn-outline-danger btn-rounded'
                        }
                    }
                }).then((YesContinue) => {
                    if (YesContinue) {
                        location.href = self.attr('href');
                    } else {
                        swal({
                            icon: 'error', timer: 1200,
                            button:{
                                visible: false
                            }
                        })
                    }
                });

            });



             //Only needed for the filename of export files.
            //Normally set in the title tag of your page.
            // document.title='Simple DataTable';
            // DataTable initialisation
            $('#example').DataTable(
                {
                    "dom": '<"dt-buttons"Bf><"clear">lirtp',
                    "paging": false,
                    "autoWidth": true,
                    "columnDefs": [
                        { "orderable": false, "targets": 5 }
                    ],
                    "buttons": [
                        'colvis',
                        'copyHtml5',
                        'csvHtml5',
                        'excelHtml5',
                        'pdfHtml5',
                        'print'
                    ]
                }
            );

        });
	</script>

{% endblock javascripts %}