
{% extends "layouts/base.html" %}

{% block title %}Terms Setup {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}

{% block content %}
<div class="content">
    <div class="page-inner">

        <form id="form1" action="" class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="container d-flex justify-content-center">
                <div class="col col-md-11 ">
                    <div class="card">

                        <div class="card-header">
                            <div class="card-title lead">Batch Setup</div>

                            <div class="row">
                                <div class="col-6 float-right " style="width:auto">
                                   <label for="sch_id" >School ID: </label>
                                    <input id="sch_id" type="text" value="{{sch_id}}" class="border-0  " name="profile" required readonly>
                                </div>

                            </div>

                            <div class="">

                                <div class="row d-flex justify-content-center ">

                                    <div class="col-md-2 form-floating-label " style="font-weight:bold">
                                        <input id="level" type="text" value="{{school.levels}}" class="form-control input-border-bottom" name="levels" required>
                                        <label for="level" class="placeholder">Level  ( e.g. 1 )</label>
                                    </div>

                                    <div class="col-md-3 form-floating-label " style="width:auto; font-weight:bold;">
                                        <input id="classname" type="text" value="{{school.class_room}}" class="form-control input-border-bottom" name="class_name" required>
                                        <label for="classname" class="placeholder">Class Name  </label>
                                    </div>

                                    <div class="col-md-1 form-floating-label " style="font-weight:bold">
                                        <input id="abr" type="text" value="{{school.levels}}" class="form-control input-border-bottom" name="class_abr" required>
                                        <label for="abr" class="placeholder">Abr </label>
                                    </div>

                                    <div class="col-md-1 ">
                                        <div class="form-floating-label">

                                            <select class="form-control input-border-bottom" id="arm" name="arm" style="font-weight:bold;" required >
                                                <option value="" hidden></option>
                                                <option selected>A</option>
                                                <option >B</option>
                                                <option >C</option>
                                                <option >D</option>
                                            </select>
                                            <label for="arm" class="placeholder">Arm</label>
                                        </div>
                                    </div>


                                    <div class="col-md-2 form-floating-label">
                                        <select class="form-control input-border-bottom"  id="status" name="status" style="font-weight:bold;" required >
                                            <option value="" hidden></option>
                                            <option selected>Active</option>
                                            <option>In-active</option>
                                        </select>
                                        <label for="status" class="placeholder">Status</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row d-flex justify-content-end ">
                                  <div class="col-md-2 ">
                                      <button class="btn btn-outline-dark btn-round btn-sm" id="save_btn" type="submit" name="save_btn" value="save" formaction="class-rooms" >  SAVE  </button>
                                  </div>
                             </div>


                        </div>

                        <div class="card-body  ">
                            <div class="container d-flex justify-content-center">

                                <div class="card col-md-11">
                                    <table id="table" class="table table-hover  ">
                                        <thead>
                                            <tr style="color: #177dff">
                                                <th scope="col">Level</th>
                                                <th scope="col">Class Name</th>
                                                <th scope="col">Abr</th>
                                                <th scope="col">Arm</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cls in classes %}
                                                <tr>
                                                    <td>{{cls.levels}}</td>
                                                    <td>{{cls.class_name}}</td>
                                                    <td>{{cls.class_abr}}</td>
                                                    <td>{{cls.arm}}</td>
                                                    <td>{{cls.status|capfirst}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    {% if messages %}
        <script class="">
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "25000"
            };
        </script>

        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.success('{{ message }}', 'Very Good . . . ')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.info('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.warning('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.error('{{ message }}')</script>
            {% endif %}
        {% endfor %}

    {% endif %}

     <script type="text/javascript"  >

		$(document).ready(function() {

		    $("#table tr").click(function(){

               $(this).addClass('selected').siblings().removeClass('selected');
               let level=$(this).find('td:first').html();
               let classname=$(this).find('td:nth-child(2)').html();
               let abr=$(this).find('td:nth-child(3)').html();
               let arm=$(this).find('td:nth-child(4)').html();
               // let status=$(this).find('td:nth-child(5)').html();
               let status=$(this).find('td:last').html();

               $( '#level' ).val(level);
               $( '#classname' ).val(classname);
               $( '#abr' ).val(abr);
               $( '#arm' ).val(arm);
               $( '#status' ).val(status);
                // Changes the text on the button
                document.querySelector('#save_btn').innerHTML = 'DELETE';
                // Changes the value of the button
                document.querySelector('#save_btn').value = 'delete';

                 // alert(classname + ' and ' + status );
            });

            function updateValue(e) {
                // btn.textContent = e.target.value;
                if(btn.value == 'delete'){
                    btn.value = 'save'
                    btn.textContent = 'UPDATE';
                    // alert('BUTTON SET TO UPDATE Mode . . .')
                };

            }

            // const input = document.querySelector('input');
            const btn = document.getElementById('save_btn');
            let level = document.getElementById("level");
            let clsnm = document.getElementById("classname");
            let abr = document.getElementById("abr");
            let arm = document.getElementById("arm");
            let status = document.getElementById("status");

            level.addEventListener('input', updateValue);
            clsnm.addEventListener('input', updateValue);
            abr.addEventListener('input', updateValue);
            arm.addEventListener('input', updateValue);
            status.addEventListener('input', updateValue);

            // alert('Document is Ready . . .')


		});

	</script>

{% endblock javascripts %}