.swal-title {
      margin: 0px;
      font-size: 23px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
      margin-bottom: 28px;
        text-align: -moz-center;
    }

.swal-text {
      background-color: rgb(255, 255, 255);
      padding: 17px;
      border: 1px solid rgba(240, 225, 161, 0.94);
      display: block;
      margin: 22px;
      text-align: center;
      color: #61534e;
      font-size: 17px;
    }

.swal-footer {
      background-color: rgb(245, 248, 250);
      margin-top: 32px;
      border-top: 4px solid #E9EEF1;
      overflow: hidden;
    }
